/* 20240815*/

body,
html {
    height: 100%;
    margin: 5px;
    overflow: auto;
    font-size: large;
    text-align: center;
}

.container-fluid {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
    /* Jätä tilaa alhaalla */
}

#language {
    justify-content: center;
    text-align: right;
}

#languageSwitcher {
    width: auto;
    background: lightskyblue;
    margin-left: 10px;
}

.text-no-spacing {
    margin: 0;
    /* Poistaa ylimääräisen marginaalin */
    line-height: 1;
    /* Asettaa rivivälin pienemmäksi */
}

a {
    color: yellow;
    font-style: italic;
    text-decoration: underline;
}

h3 {
    /*background: lightgreen;*/
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

#tanssibody,
#koodausbody,
#cvbody {
    background-image: url("kuvat/helmat.jpg");
    /*background-repeat: no-repeat;*/
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
}

#cvbody {
    display: flex;
    flex-direction: column;
}


.cvcontent {
    flex: 1; /* Makes the content take the remaining height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0px; /* Space for the footer */
}

object{
    width:95%;
    height: 99%;
}

.intro {
    color: rgb(238, 238, 229);
}

.otsikko {
    width: 100%;
}

.dnav {
    background-color: black;
}

.navbar {
    justify-content: center;
}

.fixed-bottom {
    justify-content: center;
    /* Tämä keskittää lapsielementit vaakasuunnassa */
    align-items: center;
    /* Tämä keskittää lapsielementit pystysuunnassa */
}

.dancenavigation-up {
    font-style: italic;
    text-align: center;
}

@media (max-width: 576px) {

    .pdfalt,
    .navbar-nav {
        font-size: 0.6rem;
    }

    .navbar-nav .nav-item a i {
        font-size: 0.5rem;
        /* Pienennä nuolen kokoa */
    }   
    #langselection{
        font-size: 0.6rem;
    }    
}

/* 9.2.2025 */

.videolink {
    display: block;
    padding-right: 15px;
    word-wrap: break-word;    
}

.pictext {
    font-size: 0.6rem;
    padding-bottom: 5px;
}

@media (max-width: 576px) { /* Pienille näytöille, kuten puhelimille */
    .pictext {
        font-size: 1rem;
    }
}