/* colours */
:root{
  --primary: #d2fffa;
  --secondary: #79d2c9;
  --title: #639c93;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  /*text-transform: uppercase;*/
  color: var(--title);
}
nav a span{
  font-weight: bold;
  margin-left: 50px; /*oma*/
}
nav .sidenav-trigger{
  margin: 0;
}

/* seija, toimii*/
.stay-top{
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

/* containers styles */
.categories, .products, .productsToShop {
  margin-top: 60px;
  margin-bottom: 115px;
  padding-top:2px;
  padding:2px;
}
.card-panel.category{
  border-radius: 8px;
  padding: 2px 5px 2px 10px;
  margin: 5px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-areas: "edit details go";
  position: relative;
  min-height: 35px;
}
/*
.category img{
  grid-area: image;
  max-width: 60px;
}
*/
/* suurentaa tekstikenttää tarvittaessa*/
.category-details{
  grid-area: details;
  margin-top: 1px;
  height: auto; /* SSL */
  overflow-wrap: anywhere; /*SSL */
}
/*
.category-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.category-delete i{
  font-size: 20px;
}
*/

.category-edit{
  grid-area: edit;
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.category-edit i{
  font-size: 24px;
}

.category-go{
  grid-area: go;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.category-go i{
  font-size: 24px;
}

.category-title{
  font-weight: bold;
}
.category-ingredients{
  font-size: 1.2em;
}


.card-panel.product{
  border-radius: 8px;
  padding: 2px 5px 2px 10px;
  margin: 5px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  /* grid-template-columns: 1fr 8fr 2fr 1fr; */
  /* grid-template-columns: 20px auto 50px 20px; */
  grid: auto auto  / 30px auto 30px; /* rows /columns */
  
  /* grid-gap: 10px;*/
  background-color: #2196F3;

  /* grid-template-areas: "chb pname pcat pedit";*/
  position: relative;
  min-height: 35px;
}

.card-panel.productToShop {
  border-radius: 8px;
  padding: 2px 5px 20px 10px;
  margin: 4px 0px 4px 20px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid: auto auto / 30px auto 30px;
  background-color: #2196F3;
  position: relative;
  min-height: 35px;
}

/* Product */
.product.category-info{
  /*grid-area: pcat;*/
  /*grid-column: 3 / span 1;*/
  margin-left: 15px;
  grid-column: 2 / span 1; /*    1 / span 2; vaihtoehtona, jos ihan rivin alusta.. */
  margin-top: 0px; /* kun rivi alhaalla */
}
.product.class-info{
  /*grid-area: pcat;*/
  /*grid-column: 3 / span 1;*/
  margin-left: 15px;
  grid-column: 2 / span 1; /*    1 / span 2; vaihtoehtona, jos ihan rivin alusta.. */
  margin-top: 0px; /* rivi alhaalla */
}
/* Tuote, ostoslista, jossa se ei vielä toimi ok */
.product-edit{
  /*grid-area: pedit;*/
  grid-column: 1 / span 1;
  margin:5px 5px 0px 5px; /* top right bottom 0 left*/
  padding-bottom: 0px;
  height:0px; /* tämä vaikuttaa ikonin yläpuolella oelvaan tilaan? */
}

/* Tuote, ostoslista */
.product-details{
  /*grid-area: pname;*/
  grid-column: 2 / span 1;
  margin:4px 15px 0px 15px; /* top r b l  jos rivi alhaalla margin:5px 15px 5px 15px;*/
 
}

/* Tuote, ostoslista */
.product-name.flow-text {
  /* height: fit-content; */ /* Ei vaikutusta, että tuoteen nimi jos on pitkä, niin olisi korkeampi olikin tuolla grid määrityksissä se*/
  line-height: 1.1; /* Kuinka tiheään teksti */
}


input[type="checkbox"]{
   /* Double-sized Checkboxes */
   -ms-transform: scale(1.7); /* IE */
   -moz-transform: scale(1.7); /* FF */
   -webkit-transform: scale(1.7); /* Safari and Chrome */
   -o-transform: scale(1.7); /* Opera */
   transform: scale(1.7);
}

.product.checkbox{
  /*grid-area: chb;*/
  grid-column: 3 / span 1;
  margin-top:10px;
}





/* form-styles */
.add-btn{
  background: var(--title) !important;
  bottom: 0px; /* seija */
}
/*
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
*/
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}

/*
form .input-field{
  margin-top: 10px;
}
*/

/* tuote formi */
.productBasic {
  background-color:whitesmoke;
  margin-bottom: 10px!important;
}
.shopping {
  background-color: rgb(234, 254, 254);
  margin-bottom: 10px!important;
}
.classify{
  background-color:rgb(253, 253, 213);
  margin-bottom: 10px!important;
}

/* card-panels on product form*/
.productBasic, .shopping, .classify {
  border-radius: 8px;
  padding: 2px 5px 2px 10px;
  margin: 5px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
}


/* seija, ylikirjoittaako tämä alkuperäisen.. kyllä */
@media only screen and (min-width: 0) {
  html {
      font-size:16px
  }
}

@media only screen and (min-width: 992px) {
  html {
      font-size:16.5px
  }
}

@media only screen and (min-width: 1200px) {
  html {
      font-size:17px
  }
}

/* Seija */
/* vaikuttaa myös alareunan inputtiin
.row .col {
  padding: 0 0.2rem;
}
*/
/*
td, th {
  padding: 1px 1px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 0;
}
*/




.default-button-handler {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin: 0;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:auto;
  color: white;
  text-align: center;
  z-index: 99;
  padding-top: 0;
}


.low{
  height: 30px!important;
  margin: 0 0 0 0!important;
  padding: 0 0 0 5px!important;
  background-color:white!important;  
  border-bottom:none!important;
  box-shadow: none!important;
}

.lowrow{
  height: auto!important;
  margin: 5px 0 0 0!important;
  padding: 5px 0 0 0!important; 
  border-bottom:none!important;
  box-shadow: none!important;
}

.container {
  width:100%;
}

/* Formilla  */
div.edit-category.container.section, div.edit-product.container.section {
  width: 90%;
}

#categoryinput {
  border: 2px solid #eee!important;
  border-radius: 10px!important;
}

.menuicon {
  padding-left: 10px;
}

/* https://materializecss.com/text-inputs.html */
 /* label color */
.low label {
  color: #000;
}
/* label focus color */
.low input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.low input[type=text]:focus {
  border-bottom: none;
  box-shadow: none;
}
/* valid color */
.low input[type=text].valid {
  border-bottom: none;
  box-shadow: none;
}
/* invalid color */
.low input[type=text].invalid {
  border-bottom: none;
  box-shadow: none;
}
/* icon prefix focus color */
.low.prefix.active {
  color: #000;
}

.col.nospaceright{
  padding-right: 0!important;
}

.col.nospaceleft{
  padding-left: 0!important;
}

.form-header {
  background-color: var(--primary);
}
.product-form-row {
  margin-top: 2px;
  margin-bottom: 2px;
}
#productinfo{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-bottom:0px!important;
}

#productInputToList{
  margin-top:6px!important;
}

.formclose {
  margin-top: 8px;
}
.footer-text{
  font-size: xx-small;
  display: block; /* Miksi tästä tulee ylimääräinen viiva inputin yläpuolelle*/
  padding-bottom: 8px;
}
.navitem{
  color:white;
}
/*
div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 50px;
}
.footer-icon {
  width: 30px;
  height: 30px;
  background-color: blue;
}
*/

/* muuten on display none oletuksena, eikä näy mitään?!*/
select {
  display: block;
}

.subheader {
  font-size: 18px!important;
  color: blue!important;
  line-height: 25px!important; /* 48 alunperin, yläpuolen tilaa määrittää */
}

input[type="checkbox"] {
  color:blue!important; /* ei alunperin*/
  background-color: grey!important; /* initial*/
  /*
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  margin-top: ;
  margin-right: ;
  margin-bottom: ;
  margin-left: ;
  padding: initial;
  */
  border: black!important; /* initial*/
  display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute; 
  opacity:var(--title)!important;
  pointer-events: all; /* none */
}


/* Shoppinglist */

#removeFromList {
  min-width: max-content;
  text-transform: none; /* ylikirjoitetaan materializen uppercase */
  width:100%!important;
  height:50px;
  background: var(--title) !important;
}

#classlistcontainer {
  margin-top: 200px;
  margin-bottom: 150px;
  margin-left: 10px;
  margin-right: 10px; /* tällä ei vaikutusta*/
  width: 95%;
  background-color: grey!important;
}
/* rgb(251, 251, 207);*/
.collapsible-header {
  background-color: lightyellow;
  font-size: 18px!important;
  margin-bottom: 0px;
  /*
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  */
  padding: 0px 2rem 0px 2rem !important;
  /*
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  */
}

.collapsible-header.toshop {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* rgb(254, 254, 234);*/
.collapsible-body {
  background-color: rgb(252, 252, 241);
  margin-bottom: 0px;
  /*
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  */
  padding: 0px!important;
}


/* #green lighten-5 = #E8F5E9 */
.collapsible-body.toshop {
  background-color: #E8F5E9 !important;
  margin-bottom: 0px;
  padding: 0px!important;
}

/* materialilzezta etsitty, mitkä vois vaikuttaa pienten checkboxikonien kokoon*/
/* i.tiny { */
  .phase {
    font-size: 0.5rem !important;
  /*line-height: 0.5; *//* tällä saa matalammaksi väriä, muta millä saisi leveyttä? */
  /* margin : 0!important; */ /* ei vaikutusta siihen, että väri menee boksin yli */
}

#productinfo {
  scroll-behavior: auto;
  height: 80px!important;
}

.product-toList{
  margin-top:2px!important;
  margin-bottom: 2px!important;
}

/* meals */
.meals.weekdays.container {
  height:60px!important;
  margin: 60px 25px 5px 10px;
  padding: 2px 15px 2px 5px;

  z-index: 99;
  position: fixed;
  top: 0;
  width: 95%;
  left: 0;
}
#meallistcontainer {
  margin-top:120px!important;

  margin-bottom: 150px;
  margin-left: 10px;
  margin-right: 10px; /* tällä ei vaikutusta*/
  width: 95%;
  background-color: rgb(76, 70, 153)!important;
}

/* classes */
#classAdding {
  margin-top: 56px!important;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px; /* tällä ei vaikutusta*/
  width: 98%;
  padding-bottom: 4px;
  
}

#classFilter {
  margin-top: 100px!important;
  height: 80px;
  padding: 5px;
}

.phasecol {
  padding: 2px 2px 2px 7px!important;
}
.filtercheckbox {
  transform: scale(1)!important;
  display: inline!important;
  margin: 7px 2px 0px 7px;
}
/* mealsForm*/
.productClassCheckboxSelect{
  height: auto;
}
.formbuttons {
  margin-bottom: 70px;
}
.meal-class-row {
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 4px;
}
/* data page */
#datatext {
  height: 500px;
  scroll-behavior: auto;
}