/* colours */
:root{
  --primary: #d2fffa;
  --secondary: #79d2c9;
  --title: #639c93;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
  margin-left: 50px; /*oma*/
}
nav .sidenav-trigger{
  margin: 0;
}

/* seija, toimii*/
.stay-top{
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

/* categories styles */
.categories{
  margin-top: 10px;
  margin-bottom: 60px;
  padding-top:2px;
  padding:2px;
}
.card-panel.recipe{
  border-radius: 8px;
  padding: 2px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: grid;
  grid-template-columns: 2fr 6fr 2fr 1fr;
  grid-template-areas: "delete details edit go";
  position: relative;
}
.recipe img{
  grid-area: image;
  max-width: 60px;
}
/* suurentaa tekstikenttää tarvittaessa*/
.recipe-details{
  grid-area: details;
  margin-top: 1px;
  height: auto; /* SSL */
  overflow-wrap: anywhere; /*SSL */
}
.recipe-delete{
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.recipe-delete i{
  font-size: 20px;
}

.category-edit{
  grid-area: edit;
  position: absolute;
  bottom: 0px;
  right: 15px;
}
.category-edit i{
  font-size: 20px;
}

.category-go{
  grid-area: go;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.category-edit i{
  font-size: 20px;
}

.recipe-title{
  font-weight: bold;
}
.recipe-ingredients{
  font-size: 1.2em;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
  bottom: 0px; /* seija */
}
/*
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
*/
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 10px;
}
/* seija, ylikirjoittaako tämä alkuperäisen.. kyllä */
@media only screen and (min-width: 0) {
  html {
      font-size:16px
  }
}

@media only screen and (min-width: 992px) {
  html {
      font-size:16.5px
  }
}

@media only screen and (min-width: 1200px) {
  html {
      font-size:17px
  }
}
/* Seija */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:auto;
  color: white;
  text-align: center;
  z-index: 99;
  padding-top: 0;
}

.low{
  height: 30px!important;
  margin: 0 0 0 0!important;
  padding: 0 0 0 0!important;
  background-color:beige!important;  
  border-bottom:none!important;
  box-shadow: none!important;
}

.lowrow{
  height: auto!important;
  margin: 0 0 1px 0!important;
  padding: 0 0 0 0!important; 
  border-bottom:none!important;
  box-shadow: none!important;
}



/* https://materializecss.com/text-inputs.html */
 /* label color */
.low label {
  color: #000;
}
/* label focus color */
.low input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.low input[type=text]:focus {
  border-bottom: none;
  box-shadow: none;
}
/* valid color */
.low input[type=text].valid {
  border-bottom: none;
  box-shadow: none;
}
/* invalid color */
.low input[type=text].invalid {
  border-bottom: none;
  box-shadow: none;
}
/* icon prefix focus color */
.low.prefix.active {
  color: #000;
}